<a [routerLink]="['/manage/home']" class="button">
    <img src="../../../assets/logo.svg" width="30">
</a>
  
<a routerLink="/manage/lockers" class="button fancy-button">
    <i class="material-icons">folder</i>
    Lockers
</a>

<a routerLink="/manage/items" class="button fancy-button">
    <i class="material-icons">folder</i>
    Inventory
</a>

<a routerLink="/manage/reservations" class="button fancy-button">
    <i class="material-icons">folder</i>
    Reservations
</a>

<a routerLink="/manage/accounts" class="button fancy-button">
    <i class="material-icons">folder</i>
    Accounts
</a>

<a routerLink="/login" class="button fancy-button">
    <i class="material-icons">logout</i>
    Logout
</a>