<h2>Items</h2>
 
<table>
    <thead>
        <tr>
            <th>Available?</th>
            <th>Item Name</th>
            <th>Locker</th>
            <th>Description</th>
            <th>Requirements</th>
            <th>Icon</th>
            <th>ID </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let item of items$ | async">
            <td>{{item.itemFree}}</td>
            <td style="width:10%">{{item.itemName}}</td>
            <td>{{item.itemLock}}</td>
            <td style="width:30%">{{item.itemDesc}}</td>
            <td>{{item.itemReqs}}</td>
            <td><img [src]="item.itemIcon"></td>
            <td style="width:30%">{{item._id}}</td>
            <td>
                <button [routerLink]="['edit/', item._id]">Edit</button>
                <button (click)="deleteItem(item._id || '')">Delete</button>
            </td>
        </tr>
    </tbody>
</table>

<button [routerLink]="['new']">Add a New Item</button>