<h3> 
<!--    <form [formGroup]="logging" (ngSubmit)="onSubmit()">
      <div>
        <label for="username"> Username </label>
        <input id="username" type="text" formControlName="username">
      </div>
  
      <div>
        <label for="password"> Password </label>
        <input id="password" type="text" formControlName="password">
      </div>
          
      <a [routerLink]="['/customer/items']" class="fancy button" type="submit">
        Login
      </a>
    </form>
-->

      <a [routerLink]="['/manage/home']" class="fancy button">
        Manager
      </a>

      <a [routerLink]="['/customer/items']" class="fancy button">
        Customer
      </a>

  </h3>