<div class="mngr-grid">
    <div class="mngr-item">
      <a routerLink="/manage/lockers" class="button fancy-button">
        <i class="material-icons">folder</i>
        Lockers
      </a>
    </div>
  
    <div class="mngr-item">
      <a routerLink="/manage/items" class="button fancy-button">
        <i class="material-icons">folder</i>
        Inventory
      </a>
    </div>
  
    <div class="mngr-item">
      <a routerLink="/manage/reservations" class="button fancy-button">
        <i class="material-icons">folder</i>
        Reservations
      </a>
    </div>
  
    <div class="mngr-item">
      <a routerLink="/manage/accounts" class="button fancy-button">
        <i class="material-icons">folder</i>
        Accounts
      </a>
    </div>
  </div>